{% extends "base.html" %}
{% block body %}
<div>
    Executer: <input class="executer" type="text">
</div>
<div>
    Enter the child vials holder barcode: <input class="barcode" type="text">
</div>
<div>
    Date: <strong><span class="date">{{ date }}</span></strong>
</div>
<div>
    <h4>Parent vials:</h4>
    <div>
        <div id="parents">
            <div>
                Parent barcode: <input class="parent" type="text">
            </div>
        </div>
        <button onclick="add_parent(event)">Add parent</button>
    </div>
</div>
<hr>
<div>
    Ambient temperature (C): <input class="ambient_temp" type="number">
</div>
<div>
    Ambient humidity (%): <input class="ambient_humidity" type="number">
</div>
<div id="message"></div>
<div>
    <button onclick="save_child()">Save to dropbox</button> <span class="spinner"></span>
</div>
{% endblock %}
