{% extends "base.html" %}
{% block body %}
<h2>Create a parent vial</h2>
<div>
    Executer: <select id="executer" name="executer" onchange="handleprofile(this.value, 'parent')">
        <option value=''>Select executer</option>
        {% for profile in profiles %}
        <option value="{{ profile }}">{{ profile }}</option>
        {% endfor %}
    </select>
</div>
<div>
    Parent vial barcode: <input id="parent_barcode" type="text">
</div>
<div>
    Date Created: <strong><span id="date">{{date}}</span></strong>
</div>
<div>
    Total volume (ml): <input id="volume" type="number">
</div>
<div id="salts">
    <h3>Salts</h3>
<div id="salt_content">
</div>
<button id="add_salt" onclick="add_salt(event)">Add Salt</button>
</div>
<div id="solvents">
    <h3>Solvents</h3>
    <div id="solvent_content">
    </div>
    <button id="add_solvent" onclick="add_solvent(event)">Add Solvent</button>
</div>
<div>
    Save copy to: <select id="directory" name="directory" class="save-button long-input">
        <option value="">Select directory</option>
    </select>
</div>
<div>
    <div id="message"></div>
    <button class="save-button" id="save" onclick="save_to_dropbox()">Save to dropbox</button> <span class="spinner"></span>
</div>


{% endblock %}
