{% extends "base.html" %}
{% block body %}
<h2>Create a set of child vials</h2>
<div>
    Executer: <select id="executer" name="executer" onchange="handleprofile(this.value, 'child')">
        <option value=''>Select executer</option>
        {% for profile in profiles %}
        <option value="{{ profile }}">{{ profile }}</option>
        {% endfor %}
    </select>
</div>
<div>
    Enter the child vials holder barcode: <input id="barcode" type="text">
</div>
<div>
    Date: <strong><span id="date">{{ date }}</span></strong>
</div>
<div>
    <h4>Parent vials:</h4>
    <div>
        <div id="parents">
            <div>
                Parent barcode: <input class="parent" type="text">
            </div>
        </div>
        <button onclick="add_parent(event)">Add parent</button>
    </div>
</div>
<hr>
<div>
    Ambient temperature (C): <input id="ambient_temp" type="number">
</div>
<div>
    Ambient humidity (%): <input id="ambient_humidity" type="number">
</div>
<div>
    Notes: <textarea id="notes"></textarea>
</div>
<div>
    Save copy to: <select id="directory" name="directory" class="save-button long-input">
        <option value="">Select directory</option>
    </select>
</div>
<div id="message"></div>
<div>
    <button onclick="save_child()">Save to dropbox</button> <span class="spinner"></span>
</div>
{% endblock %}
