{% extends "base.html" %}
{% block body %}
<h3>View profile</h3>
<div>All directories should be in the format <code>/Group Folder/Sub Folder/...</code></div>
<div style="margin-bottom: 15px;">For example <code>/Buonassisi-Group/Projects - Active/Labdata-pipeline/Tests/Sample plates</code></div>
<div>Name: <input type="text" id="name"value="{{ name }}"></div>
<input type="hidden" id="ex_name" value="{{ name }}">
<div id="parent">
    <h5>Parent vial storage directories</h5>
    <div class="directories">
        {% for directory in parent %}
        <div><input type="text" class="long-input" value="{{ directory }}">
            <span class="close-btn" onclick="remove_directory(event)">&times;</span>
        </div>
        {% endfor %}
    </div>
    <div><button onclick="add_directory(event)">Add directory</button></div>
</div>

<div id="child">
    <h5>Child vial storage directories</h5>
    <div class="directories">
        {% for directory in child %}
        <div><input type="text" class="long-input" value="{{ directory }}">
        <span class="close-btn" onclick="remove_directory(event)">&times;</span>
        </div>
        {% endfor %}
    </div>
    <div><button onclick="add_directory(event)">Add directory</button></div>
</div>
<div id="sample">
    <h5>Sample plates storage directories</h5>
    <div class="directories">
        {% for directory in sample %}
        <div><input type="text" class="long-input" value="{{ directory }}">
        <span class="close-btn" onclick="remove_directory(event)">&times;</span>
        </div>
        {% endfor %}
    </div>
    <div><button onclick="add_directory(event)">Add directory</button></div>
</div>
<div>
    <div id="message"></div>
    <div>
        <button class="save-button" onclick="save_profile()">Save</button> <span class="spinner"></span>
    </div>
</div>
{% endblock %}
