{% extends "base.html" %}
{% block body %}
<h2>View a set of child vials</h2>
<div>
    Executer: <input class="executer" type="text" value="{{ executer }}" disabled>
</div>
<div>
    Enter the child vials holder barcode: <input class="barcode" type="text" value="{{ barcode }}" disabled>
</div>
<div>
    Date: <strong><span class="date">{{ date }}</span></strong>
</div>
<div>
    <h4>Parent vials:</h4>
    <div>
        {% for parent in parents %}
        <div id="parents">
            <div>
                Parent barcode: <input class="parent" type="text" value="{{ parent }}" disabled>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div>
    Ambient temperature (C): <input class="ambient_temp" type="number" value="{{ ambient_temp }}">
</div>
<div>
    Ambient humidity (%): <input class="ambient_humidity" type="number" value="{{ ambient_humidity }}">
</div>
<div>
    Saved copy to: <input class="long-input" value="{{ directory }}" disabled>
</div>
<div id="message"></div>
{% endblock %}
